In [1]:
import pandas as pd
import numpy as np
from  scipy import stats

In [2]:
acad = pd.read_excel(r'C:\Users\tyagir01\Desktop\Data Analytics Problem Set\Academic.xlsx')
acad.head()

   res_num  aa  pe  sm  ae  r  g  c
0        1  99  19   1   2  0  0  1
1        2  46  12   0   0  0  0  0
2        3  57  15   1   1  0  0  0
3        4  94  18   2   2  1  1  1
4        5  82  13   2   1  1  1  1

In [3]:
# Cross(contingency) table between gender and student motivation column.
obs = pd.pivot_table(acad[['g','sm']], index = 'g', columns = 'sm', aggfunc = len)
obs

sm   0   1  2
g
0   10  13  6
1    4   9  8

In [4]:
## Perform Chi2 test to check independence

from scipy.stats import chi2_contingency

In [5]:
chi2, p, dof, tbl = chi2_contingency(obs)

In [6]:
print(chi2)
print(p)
print(dof)

2.3649585225939904
0.3065178579178871
2

In [7]:
# contingency table of expected values 
tbl

array([[ 8.12, 12.76,  8.12],
       [ 5.88,  9.24,  5.88]])

In [8]:
# chi-sq value for 1% confidence level and 2 degress of freedom
stats.chi2.ppf(.99,2)

9.21034037197618