In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy.stats import chi2
from scipy.stats import poisson

In [2]:
df = pd.read_excel(r'C:\Users\tyagir01\Desktop\Data Analytics Problem Set\Parking_lot.xlsx')
df.head()

   Car_arrivals  Frequency
0             0          0
1             1          1
2             2          4
3             3         10
4             4         14

In [3]:
Obs_frq = df['Frequency']
Total_arrival = df['Car_arrivals']*df['Frequency']
TA_num = Total_arrival.sum()
Total_time_period = 100

In [4]:
mu = TA_num/Total_time_period
mu

6.0

In [5]:
Exp_frq = []
for i in range(len(Obs_frq)):
    E_frq = 100*poisson.pmf(i,mu)
    Exp_frq.append(E_frq)

In [6]:
Exp_frq

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [7]:
Exp_frq_roundoff = [round(elem,2) for elem in Exp_frq]
Exp_frq_roundoff

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [8]:
dtf = pd.DataFrame(list(zip(Obs_frq, Exp_frq_roundoff)), columns = ['Observed Frequency', 'Expected Frequency'])
dtf

    Observed Frequency  Expected Frequency
0                    0                0.25
1                    1                1.49
2                    4                4.46
3                   10                8.92
4                   14               13.39
5                   20               16.06
6                   12               16.06
7                   12               13.77
8                    9               10.33
9                    8                6.88
10                   6                4.13
11                   3                2.25
12                   1                1.13

In [9]:
# for frequencies less than 5 are clubbed together to crate one interval.

new_obs_frq = [5,10,14,20,12,12,9,8,10]
new_exp_frq = [6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]

In [10]:
# Getting the Chi-sq test statistic calculated value with its probability

scipy.stats.chisquare(new_obs_frq, new_exp_frq)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)

In [11]:
chi2.ppf(.95,7)

14.067140449340169