In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy.stats import chi2

In [2]:
chi2.ppf(.99,11)

24.724970311318277

In [3]:
df = pd.read_excel(r'C:\Users\tyagir01\Desktop\Data Analytics Problem Set\Milk_produced.xlsx')
df

        Month  Litres
0     January    1610
1    February    1585
2       March    1649
3       April    1590
4         May    1540
5        June    1397
6        July    1410
7      August    1350
8   September    1495
9     October    1564
10   November    1602
11   December    1655

In [4]:
total_milk = df['Litres'].mean()
total_milk
#total_milk.sum()

1537.25

In [8]:
F_e = total_milk/(df['Month'].count())
F_e.sum()

128.10416666666666

In [9]:
test_stat = ((total_milk - F_e)**2/F_e)
test_stat.sum()

15500.604166666666

In [10]:
exp_f = [1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25]

In [12]:
from scipy.stats import chisquare

chisquare(total_milk,exp_f)

Power_divergenceResult(statistic=0.0, pvalue=1.0)

In [43]:
# NOW FOR NORMAL DISTRIBUTION

In [13]:
A = [33,43,44,45,52,52,56,58,63,64,64,65,66,68,70,72,73,73,74,75,83,84,85,86,91,92,94,98,102,105]
m = np.mean(A)
stdev = np.std(A)
m, stdev

(71.0, 18.226354544998845)

In [14]:
x = 1/6 # for 6 equal probability intervals
for j in range(1,6):
    Prob_intervals = [scipy.stats.norm.ppf(j*x,m,stdev)]
    print(Prob_intervals)

[53.36743154175236]
[63.14941153083116]
[71.0]
[78.85058846916884]
[88.63256845824763]

In [15]:
Ex_frq = [5,5,5,5,5,5]
Ob_frq = [6,3,6,5,4,6]

In [16]:
scipy.stats.chisquare(Ob_frq,Ex_frq)

Power_divergenceResult(statistic=1.5999999999999999, pvalue=0.9012493445012737)

In [17]:
# to get the chi-sq table value
chi2.ppf(0.95,3)

7.814727903251179

In [18]:
chisq_calc = 1.6